{
  "extends": ["stylelint-prettier/recommended"],
  "plugins": [
    "stylelint-scss",
    "stylelint-order",
    "stylelint-declaration-use-variable"
  ],
  "rules": {
    "order/properties-alphabetical-order": true,
    "sh-waqar/declaration-use-variable": [
      ["/color/", "font-size", { "ignoreValues": ["transparent", "inherit"] }]
    ]
  }
}
